/*email*/

.email {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(22, 22, 22);
    width: 780px;
    height: 580px;
    padding: 100px;
    border-radius: 15px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 90px;
    box-shadow: rgba(31, 31, 31, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.email h2{
    color: #858585;
    font-size: 2.5rem;
    margin: 2rem;
}
.email form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label{
    color: rgb(102, 102, 102);
    font-size: 17px;
    margin-bottom: -37px;
}
form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}
form input:focus{
    border-radius: 27px;
}
form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 10px;
    transition: all 0.5s;
}
form textarea:focus{
    border-radius: 17px;
}
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid white;
    color: white;
    transition: all 1s;
    margin-bottom: 0px;
}
form button:hover{
    background: white;
    color: black;
    border-radius: 27px;
}
.mainobg {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(19, 19, 19), rgb(24, 24, 24));
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
}
.mainobg h1 {
    font-size: 24px;
    margin: 0 0 20px;
}
.mainobg p {
    font-size: 20px;
    margin: 0 0 20px;
}
.mainobg a {
    font-size: 18px;
    margin: 20px 0;
    text-decoration: none;
    color: #ffffff;
    background-color: #1a1a1a;
    padding: 10px 20px;
    border-radius: 5px;
}
